<div class="text-center" style="padding:100px;">


<h1>Sign Up</h1><br><br>
<%= form_for :user, url: '/users' do |f| %>
  Username:<br> <%= f.text_field :username %><br><br>
  Email:<br> <%= f.text_field :email %><br><br>
  Password:<br> <%= f.password_field :password %><br><br>
  Password Confirmation:<br> <%= f.password_field :password_confirmation %><br><br>
  <%= f.submit "Submit" %>
<% end %>
</div>
