<h1><%= @post.title %></h1>

<% if (logged_in? && (current_user.id == @post.user_id)) %>
  <%= link_to "Edit Post", edit_post_path(@post) %>
  <%= form_tag post_path(@post.id), method: "delete" do %>
    <%= submit_tag "Delete Post" %>
  <% end %>
<% end %>

<p><%= @post.content %></p>
<br>

<p>Author: <%= link_to @post.user.username, @post.user %></p>
<p>Destination: <%= link_to @post.destination.location, @post.destination %></p>
<p>Likes: <%= @post.likes %><br>

<%= link_to "Like", increase_likes_path(@post) %><br>
<%= render partial: 'comments/form' %>

<% if @comments.length > 0 %>
  <h4>Comments</h4>
  <% @comments.each do |comment| %>
    <div>
      <p><%= @commenter %>: <%= comment.content %></p>
    </div>
  <% end %>
<% end %>
