<% if session[:user_id].present? %>
  <h1>Hi, <%= User.find_by_id(session[:user_id]).username %>.</h1>
  <%= link_to 'Posts', posts_path %>
  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
    <input type=submit value='Log Out'>
  <% end %>
<% else %>
  <br><%= link_to 'Login', login_path %><br>
  <%= link_to 'Sign Up', new_user_path %>

<% end %>
