<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>WeTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <nav class="navbar navbar-light bg-light">
    <%= link_to(image_tag("/images/Logo1.png", :alt=>"Logo", :class=>"img-fluid rounded"), hello_path) %>


    <% if logged_in? %>
      <%= link_to "Browse Destinations", destinations_path, class:"navbar-brand" %>
      <%= link_to "Browse Posts", posts_path, class:"navbar-brand" %>
      <%= link_to "View Profile", user_path(current_user), class:"navbar-brand" %>
      <%= link_to 'Log Out', logout_path, class:"navbar-brand" %>
    <% else %>
      <br><%= link_to 'Login', login_path, class:"navbar-brand" %><br>
      <%= link_to 'Sign Up', signup_path, class:"navbar-brand" %>
    <% end %>

  </nav>

  </head>

  <body>
    <% if flash[:errors]%>
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>

  <script>
    $(document).on('ready page:load', function () {
      $('#post_tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });
  </script>

</html>
