<!DOCTYPE html>
<html>
  <head>
    <title>WeTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>WeTravel</h1>
    <%= link_to 'Create New Post', new_post_path %>
    <%= yield %>
  </body>
</html>
